<div>

    <google-map center="map.center" pan="true" draggable="true" zoom="map.zoom">
        <markers models="mapdata.sites" idKey="'year'" coords="'coords'" labelContent="'siteNumber'" click="'onPinClick'">
            <window
                    show="'showwindow'"
                    templateUrl="views/window.html"
                    isIconVisibleOnClick="true"
                    options="options"
                    closeClick="'onClickClose'">
            </window>
        </markers>
    </google-map>
</div>
<div class="row">
    <div class="col-xs-12">
        <img width="25" height="25" src="images/2014.jpg"/>
    </div>
</div>
