<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <img class="cc-logo" src="{{model.icon[0]}}"><img>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h6 class="h6">Year: {{model.year}}</h6>
                <h6 class="h6">Site Name: {{model.siteName}}</h6>
                <h6 class="h6" ng-show="model.siteNumber >0">Site Number: {{model.siteNumber}}</h6>
                <h6 class="h6"><a href="{{model.fbLink}}" target="_blank">Facebook Photos (Make sure you are logged into facebook)</a></h6>
            </div>
        </div>

    </div>
</div>
